<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.komi.sliderdemo">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SampleActivity"
            android:theme="@style/SampleActivityTheme" />
        <activity
            android:name=".ExtendsActivity"
            android:theme="@style/ActivityTheme" />
        <activity android:name=".XmlActivity" />
        <activity
            android:name=".XmllActivity"
            android:label="@string/title_activity_xmll"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
